
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/Javascript/project.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Material Mangement</title>
</head>

<body style=" background-color: #dfe6e9;">
     <section class="form ">
       <div class="container">
           <div class="row">
               <div class="col-lg-5">
                   <img src="/static/login.jpg" class="img-fluid">
               </div>
               <div class="col-lg-7"></div>
                 <form>
                     <div classs="form-row">
                         <div class="col-lg-7">
                             <input type="email" class="form-control" placeholder="Email Address">
                         </div>
                     </div>
                      <div class="form-row">
                         <div class="col-lg-7">
                             <input type="password" class="form-control" placeholder="*********">
                         </div>
                     </div>
                          <div class="form-row">
                         <div class="col-lg-7">
                             <button type="button" class="btn1" placeholder="*********">Login</button>
                         </div>
                     </div>
                     <a href="#">Change_Password</a>

                 </form>
           </div>
       </div>
</section>

</body>
</html>