<style type="text/css">
 .root
 {
   display:flex;
   justify-content:center;
   align-items:center;
   padding:20px;
   border-radius:10px;

 }
 .Myframe{
 width:95%;
 background-color: #fff;
 padding:20px;
     border-radius: 30px;
  }
 .gap{
    margin-top:10px;
 }
 .btnstyles{
 display:flex;
 justify-content:center;
 align-item:center;
 }

</style>

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<head>
    <meta charset="UTF-8">
    <title>DisplayAllEmployee</title>
</head>
<body style=" background-color: #dfe6e9;">
 <div class="root">
    <div class="Myframe">
            <div class="row" style="display:flex;align-items:center;font-size:17px;letter:2px; spacing:2px; font-weight:bold;padding-left:20px;margin-bottom:10px;">
                 <img src="/static/Employee.png" width="50">
                   List of Employee

            </div>

    <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Birth date</th>
      <th>Permanent</br>address</th>
        <th>Current</br>address</th>
        <th>Contact</br>Details</th>
        <th>Picture</th>
        <th>Update</th>
    </tr>
  </thead>
  <tbody>
   {% for row in rows %}
    <tr>
      <th scope="row">{{row.0}}</th>
      <td>{{row.1}}{{row.2}}<br>{{row.3}}</td>
      <td>{{row.4}}</td>
      <td>{{row.5}}<br>
          {{row.14}},{{row.15}}
      </td>
        <td>{{row.8}}</td>
        <td>{{row.9}}</br>{{row.10}}</td>
        <td><a href="editemployeepicture?empid={{row.0}} &firstname={{row.1}} &lastname={{row.2}} &picture={{row.12}}"><img src="/static/{{row.12}}" width="40"/></a><</br>{{row.11}}</td>
        <td><a href="displayemployeebyid?empid={{row.0}}">Edit/Delete</a> </td>
 
    </tr>
   {% endfor %}

  </tbody>
</table>
    </div>
 </div>
</body>
</html>